// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.container {
  position: relative;
  width: 100vw;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flat-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr;

  li {
    margin: 20px 10px;
  }
}

.show-title {
  background: #ffffffcc;
  width: 100vw;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 4px 4px #00000033;
  text-shadow: 2px 4px 4px #00000033;
}

#map {
  width: 99vw;
  height: 400px;
  position: absolute;
  top: -50px;
  left: 0px;
  z-index: -1;
}

form {
  margin: 10px 30px;
  padding: 10px;
}

.text-area {
  width: 100%;
}

.btn {
  margin-top: 5px;
}


.card {
  box-shadow: 2px 4px 4px #00000033;
  transition: ease 0.5s;

  &:hover {
    box-shadow: 1px 1px 12px #00000077;
    border: 1px solid white;
  }
}

.card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.price {
    font-size: 14px;
    font-weight: bold;
    color: #d04e46;
  }
}

.show {
  width: 80%;
  margin-top: 100px;
  opacity: 0.8;
  border-radius: 20px;
  overflow: hidden;

  &:hover {
    opacity: 1;
  }
}

.scale {
  &:hover {
    animation: scale 1s infinite;
  }
}

@keyframes wobble {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }

  45% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }

  75% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}
